BreakoutTrade/SOL/Trading_record/optimization_all_results_sol_short.csv
BreakoutTrade/SOL/Trading_record/trading_record_best_sol_short.csv
Trading_data
Trading_record
績效圖片
temp.txt
BreakoutTrade
MA_Trade
.env